{% extends "base.html" %}
{% block content%}
<style type="text/css">
    img {
        background-color: #777;
        border-radius: 5px;
        padding: 5px;
        margin: 15px;
    }
</style>

<h2><img src="{{firstTeam.imageUrl}}" width="150"><img src="{{secondTeam.imageUrl}}"width="150"><br/><a href="/open/team/{{firstTeam.id}}">{{firstTeam.name}}</a> vs <a href="/open/team/{{secondTeam.id}}">{{secondTeam.name}}</a></h2>
<table class="table">
    {% for match in matches %}
    <tr>
        <td>
            {% if match.participants[0].won %}
                <span class="label label-success">
            {% else %}
                <span class="label label-warning">
            {% endif %}
                {{match.participants[0].team.name}}
            </span>
        </td>
        <td><a href="/open/match/{{match.id}}"><time datetime="{{match.date}}">{{match.date}}</time></a></td>
        <td>
            {% if match.participants[1].won %}
                <span class="label label-success">
            {% else %}
                <span class="label label-warning">
            {% endif %}
                {{match.participants[1].team.name}}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript">
    function momentForTime (timeTag) {
        var date = new Date(timeTag.attr('datetime') + " UTC");
        return moment(date.toString());
    }

    $(function() {
        //TODO: add localization. moment.locale('ru');
        $('time').each(function() {
            $(this).html(momentForTime($(this)).fromNow());
        });
        $('time').on({
            mouseenter: function () {
                $(this).html(momentForTime($(this)).calendar());
            },
            mouseleave: function () {
                $(this).html(momentForTime($(this)).fromNow());
            }
        });
    });
</script>
{% endblock %}
